body {
    background-image: url("https://media4.giphy.com/media/VI2UC13hwWin1MIfmi/giphy.gif?cid=ecf05e47ea87fe7y37voiejtjis2k9o57o2p90tnikpb9xm9&rid=giphy.gif&ct=g");
    background-size: cover;
    background-position: 40% 20%;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Unbounded', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
    color: aliceblue;
}

span {
    border: 1px solid white;
    border-radius: 70%;
}

button {
    display: grid;
    margin: auto;
}