html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://media4.giphy.com/media/VI2UC13hwWin1MIfmi/giphy.gif?cid=ecf05e47ea87fe7y37voiejtjis2k9o57o2p90tnikpb9xm9&rid=giphy.gif&ct=g");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Unbounded', cursive;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}

h2 {
    font-family: 'Unbounded', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 0 auto;
    color: aliceblue;
}

span {
    border: 1px solid white;
    border-radius: 70%;
    border-style: dashed solid;
}

button {
    display: grid;
    margin: auto;
    margin-top: 50%;
}